/*
    This document contains styles specific to the current webpage.
*/

@use "base";
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Open+Sans:wght@300;400;600;700&display=swap");

/*
    Variables: overwrite the ones you want to change. In the comments you find the defaults
*/

/* Typography */
$font-serif: base.$font-serif; // 100% Georgia, 'Times New Roman', Times, serif
$font-sans-serif: 100% "Open Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif;

/* Colors */
$dark: base.$dark; // rgb(31, 31, 31)
$light: base.$light; // rgb(255, 255, 255)

$primary-color: rgb(106, 191, 195);
$secondary-color: rgb(206, 151, 62);

$text-primary: rgb(74, 74, 74);
$text-secondary: rgba(74, 74, 74, 0.7);
$text-primary-light: base.$text-primary-light; // same as $light
$text-secondary-light: base.$text-secondary-light; // rgba(255, 255, 255, 0.7)
$link-default: base.$link-default; // rgb(0, 0, 238)
$link-hover: base.$link-hover; // rgb(0, 0, 238)
$link-active: base.$link-active; // rgb(238, 0, 0)
$link-visited: base.$link-visited; // rgb(128, 0, 128)

$bg-primary-light: base.$bg-primary-light; // same as $light
$bg-primary-dark: base.$bg-primary-dark; // same as $dark

$aspect-ratio: base.$aspect-ratio; // 56.25%

/* Variables that cannot be changed here. Prefix them like this: base.<variablename>

$primary-color-light;
$primary-color-dark;
$secondary-color-light;
$secondary-color-dark;
$complementary-color;
$complementary-light;
$complementary-dark;

$input-default;
*/

/*
    Your code starts here
*/

/* General/Typography */
body {
  font: $font-sans-serif;
}

h2,
h3 {
  font-weight: 700;
  color: $text-primary;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: $secondary-color;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  color: $text-secondary;
}

/* Site header*/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 0.5em;
  font-family: "Caesar Dressing", cursive;
  font-size: 1.5em;
  line-height: 1;
  color: $secondary-color;
  text-transform: uppercase;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu span:before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: $primary-color;
}

/* Hero */
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1,
.hero p {
  text-align: center;
}

/* How it works */
.how-it-works,
.skills,
.successes {
  text-align: center;
}

.how-it-works .item img {
  height: 120px;
}

/* Skills */
.skills {
  background-color: #f3f3f3;
}

.skills .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media (min-width: 1000px) {
  .skills .container {
    max-width: 960px;
  }
}

.skills .card {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 23px 46px 25px;
  background-color: white;
  text-decoration: none;
}

/* Sucess stories*/

.testimonial {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.testimonial img {
  border-radius: 50%;
}

/* Footer */
.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  display: block;
}

/* Discord */
.discord {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 68px;
  padding: 16px;
  background-color: $primary-color;
  border-radius: 50%;
}
