/*
    This document contains styles specific to the current webpage.
*/

@use "base";
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Open+Sans:wght@300;400;600;700&display=swap");

/*
    Variables: overwrite the ones you want to change. In the comments you find the defaults
*/

/* Typography */
$font-serif: base.$font-serif; // 100% Georgia, 'Times New Roman', Times, serif
$font-sans-serif: 100% "Open Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif;

/* Colors */
$dark: base.$dark; // rgb(31, 31, 31)
$light: base.$light; // rgb(255, 255, 255)

$primary-color: rgb(106, 191, 195);
$secondary-color: rgb(206, 151, 62);

$text-primary: rgb(74, 74, 74);
$text-secondary: rgba(74, 74, 74, 0.7);
$text-primary-light: base.$text-primary-light; // same as $light
$text-secondary-light: base.$text-secondary-light; // rgba(255, 255, 255, 0.7)
$link-default: base.$link-default; // rgb(0, 0, 238)
$link-hover: base.$link-hover; // rgb(0, 0, 238)
$link-active: base.$link-active; // rgb(238, 0, 0)
$link-visited: base.$link-visited; // rgb(128, 0, 128)

$bg-primary-light: #f3f3f3; // same as $light
$bg-primary-dark: base.$bg-primary-dark; // same as $dark

$aspect-ratio: base.$aspect-ratio; // 56.25%

/* Variables that cannot be changed here. Prefix them like this: base.<variablename>

$primary-color-light;
$primary-color-dark;
$secondary-color-light;
$secondary-color-dark;
$complementary-color;
$complementary-light;
$complementary-dark;

$input-default;
*/

/*
    Your code starts here
*/

/* General/Typography */
body {
  font: $font-sans-serif;
}

h2,
h3 {
  font-weight: 700;
  color: $text-primary;
}

h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2.25rem;
  font-weight: 300;
  color: $secondary-color;
}

h2 {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  color: $text-secondary;
}

button {
  padding: 1rem 2.5rem;
  color: $text-primary-light;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

button:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-secondary {
  background-color: $secondary-color;
}

/* Site header*/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 0.5em;
  font-family: "Caesar Dressing", cursive;
  font-size: 1.5em;
  line-height: 1;
  color: $secondary-color;
  text-transform: uppercase;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu span:before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: $primary-color;
}

/* Hero */
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1,
.hero p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.hero p {
  font-size: 1.125rem;
  padding-bottom: 4.375rem;
}

.hero button {
  margin-bottom: 4.375rem;
}

/* How it works */
.how-it-works,
.skills,
.successes {
  text-align: center;
}

.how-it-works {
  margin: 0 auto 3em;
}

.how-it-works .item {
  padding: 1em;
}

.how-it-works .item img {
  height: 120px;
}

.how-it-works p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 72px 2em;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .how-it-works .item img {
    height: 165px;
  }
  .how-it-works p {
    padding-left: 0;
    padding-right: 0;
  }
}

// this is the first, introductory paragraph
.how-it-works > p {
  padding: 0 1rem 4.375rem;
}

.how-it-works h3 {
  padding-top: 2.5em;
  padding-bottom: 1em;
}

/* Skills */
.skills {
  background-color: $bg-primary-light;
}

.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.skills h3 {
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .skills .container {
    max-width: 960px;
  }
}

.skills .card {
  display: block;
  margin: 0 15px 30px;
  padding: 23px 46px 25px;
  background-color: white;
  text-decoration: none;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.05);
}

.skills button {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1rem 3.5rem;
}

/* Sucess stories*/
.successes {
  background-image: linear-gradient(white, $bg-primary-light);
}

.testimonial {
  display: flex;
  align-items: flex-start;
  text-align: left;
  max-width: 600px;
  margin: 0 auto 2.5em;
  padding-right: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.8;
}

.testimonial img {
  margin: 1rem 1.5rem;
  border-radius: 50%;
}

.testimonial a {
  display: block;
  padding-bottom: 0.5em;
  color: $secondary-color;
  text-decoration: none;
}

.testimonial a:hover {
  color: black;
}

// this selects only the link to the other sucess stories
.successes > a {
  display: block;
  margin-top: 2rem;
  color: $text-secondary;
}

.successes > a:hover {
  color: black;
}

.call-to-action {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  font-size: 2.2rem;
  font-weight: 100;
}

.successes button {
  margin-bottom: 5rem;
  padding: 1rem 3.5rem;
}

/* Footer */
.site-footer {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.site-footer > * {
  flex-grow: 2;
}

.site-footer .logo {
  display: none;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .site-footer {
    padding-top: 7rem;
    padding-bottom: 6rem;
  }
  .site-footer .logo {
    display: flex;
    justify-content: center;
  }
  .social {
    flex-grow: 1;
  }
}

@media (min-width: 1037px) {
  .site-footer .logo {
    font-size: 1rem;
  }
}

.social {
  display: flex;
  justify-content: space-around;
}

.social a {
  display: block;
  flex-grow: 1;
  text-align: center;
  color: $secondary-color;
  font-size: 1.5rem;
}

.social a:hover {
  color: black;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  display: block;
  padding-bottom: 0.5em;
  color: $text-secondary;
  text-decoration: none;
  font-weight: 700;
}

nav a:hover {
  color: black;
}

/* Discord */
.discord {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 16px;
  font-size: 2rem;
  line-height: 1;
  color: white;
  background-color: $primary-color;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.discord:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}
