/*
    This document contains styles specific to the current webpage.
    @use "base" with ($a: x, $b: y, ...); to change predefined variables.
*/

@use "base" with (
    $primary-color: rgb(106, 191, 195),
);

/* Site header*/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu span:before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: base.$primary-color;
}

/* Hero */
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1,
.hero p {
  text-align: center;
}

/* How it works */
.how-it-works,
.skills,
.successes {
  text-align: center;
}

.how-it-works .item img {
  height: 120px;
}

/* Skills */
.skills {
  background-color: #f3f3f3;
}

.skills .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media (min-width: 1000px) {
  .skills .container {
    max-width: 960px;
  }
}

.skills .card {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 23px 46px 25px;
  background-color: white;
  text-decoration: none;
}

/* Sucess stories*/

.testimonial {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.testimonial img {
  border-radius: 50%;
}

/* Footer */
.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  display: block;
}

/* Discord */
.discord {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 68px;
  padding: 16px;
  background-color: base.$primary-color;
  border-radius: 50%;
}
