/*
    This document contains styles specific to the current webpage.
    @use "base" with ($a: x, $b: y, ...); to change predefined variables.
*/

@use "base" with (
    $primary-color: rgb(106, 191, 195),
);

/* Site header*/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu span:before {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: base.$primary-color;
}

/* Hero */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1,
.hero p {
  text-align: center;
}
